channels
channels-redis
Django
django-channels
django-cors-headers
django-filter
django-grappelli
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
django-rest-swagger
gunicorn
gevent
Markdown
psycopg2
pytz
pyyaml
sqlparse
pytest
pytest-django
pytest-cov

