Django
django-cors-headers
django-filter
django-grappelli
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
django-rest-swagger
gunicorn
Markdown
psycopg2
pytz
pyyaml
sqlparse
pytest
pytest-django
pytest-cov

