{% extends "base.html" %}

{% block content %}

  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
   <section class="bg-img well-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search Scripts"/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>          
          </div>
        </div>        
      </div>
    </section>
    <section class="map">
      <div id="google-map" class="map_model"></div>
      <ul class="map_locations">
            <li data-x="-73.9874068" data-y="40.643180">
          <p> 9870 St Vincent Place, Glasgow, DC 45 Fr 45. <span>800 2345-6789</span></p>
        </li>
      </ul>
    </section>
    <section class="well5">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h3><span>Address </span></h3>
            <p>Aliquam non tempor orci. Aenean orci nibh, finibus maximus mattis eget, sollicitudin a odio. Donec sed urna nunc. Vesti bulum erat lorem, faucibus ut tincidunt vita</p>
            <h4>9870 St Vincent Place,<br>Glasgow, DC 45 Fr 45.</h4>
            <address class="addr">
              <dl>
                <dt>Freephone:</dt>
                <dd><a href="callto:#">+1 800 559 6580</a></dd>
              </dl>
              <dl>
                <dt>Telephone:</dt>
                <dd><a href="callto:#">+1 959 603 6035</a></dd>
              </dl>
              <dl>
                <dt>FAX:</dt>
                <dd><a href="callto:#">+1 800 889 9898</a></dd>
              </dl>
              <p>E-mail: <a class="link" href="mailto:#">mail@demolink.org</a></p>
            </address>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h3><span>Contact</span> Form</h3>
            <form class='mailform contact-form' method="post" action="bat/rd-mailform.php"> 
              <input type="hidden" name="form-type" value="contact"/> 
              <fieldset> 
                  <label> 
                      <input type="text" 
                      name="name" 
                      placeholder="Name*" 
                      data-constraints="@LettersOnly @NotEmpty"/> 
                  </label> 

                  <label> 
                      <input type="text" 
                      name="phone" 
                      placeholder="Phone" 
                      data-constraints="@Phone"/> 
                  </label> 

                  <label> 
                      <input type="text" 
                      name="email" 
                      placeholder="Email*" 
                      data-constraints="@Email @NotEmpty"/> 
                  </label> 

                  <label class="label_message"> 
                      <textarea name="message*" placeholder="Message" 
                      data-constraints="@NotEmpty"></textarea> 
                  </label> 

                  <div class="mfControls"> 
                      <span class="submit_text">required fields*</span>
                      <button class="btn4" type="submit">Submit comment</button> 
                  </div> 
              </fieldset> 
          </form> 
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}
