{% extends "base.html" %}

{% block content %}

  <!--========================================================
                            CONTENT
  =========================================================-->
  
<main id="content">
   <section class="bg-img well-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
<!--
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search Scripts"/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>          
-->
          </div>
        </div>        
      </div>
    </section>
    <section class="terms">
      <div class="container">
        <h3><span>Make a </span> Payment</h3>
        <h4>Proin tincidunt turpis vitae aliquam accumsan. Integer eget nisl euismod, venenatis tellus ac, euismod </h4>
        <p>Phasellus metus elit, venenatis non orci sit amet, sollicitudin efficitur lectus. Quisque finibus urna in venenatis semper. Do nec vitae mauris eget nibh efficitur porttitor. Praesent urna ipsum, tinci dunt et lacus lacinia, venenatis ullamcorper purus. Mauris vel lobortis leo, sed ullamcorper neque. Integer dapibus iaculis nuncorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan, est quis facilisis suscipit, nisi arcu efficitur urna, eu pellentesque dui nisl nec arcu. Nunc nec turpis in tellus placerat commodo. Suspendisse cursus nunc neque, at pharetra metus maximus accumsan. Aenean porttitor sagittis turpis sed volutpat. Morbi quis placerat metus, maximus gravida ante. Integer accumsan nulla orci, non porta libero pellentesque quis. Vivamus vitae iaculis dui. Donec aliquam nibh vitae lectus rutrum luctus in eget nisi. Vivamus imperdiet orci tortor, nec ornare purus molestie </p>
        <h4>Aaliquam accumsan. Integer eget nisl euismod, venenatis tellus ac, euismod dolor. Aliquam bibendum</h4>
        <p>Vivamus imperdiet orci tortor, nec ornare purus molestie ac. Fusce ultrices fringilla nibh ut blandit. Sed mauris lorem, eleifend in justo sed, consequat convallis metus. Nam in massa in arcu porta aliquam. Aliquam rhoncus elit sed magna egestas, ut semper purus eleifend. Quisque tempor nisi non massa mattis, ac lacinia velit tempor. Pellentesque non est non ante varius interdum eget sed nulla. Praesent tristique dictum ultricies. Morbi eget mi elit. Integer condimentum a ligula id condimentum. Mauris quis quam pulvinar, sagittis tellus at, vestibulum velit. Morbi quis rutrum ex, sit amet dapibus nunc. Sed eget sollicitudin erat, ac ullamcorper urna. In bibendum elit velit, eget sodales tortor pretium vitae. Donec neque leo, rhoncus ut odio commodo, fringilla malesuada massa. Etiam eu velit at ante interdum consequat. Phasellus ut enim auctor, fringilla urna ac, vehicula risus</p>
        <h4>Integer eget nisl euismod, venenatis tellus ac, euismod dolor. Aliquam bibendum sagittis placerateo</h4>
        <p>Etiam accumsan, est quis facilisis suscipit, nisi arcu efficitur urna, eu pellentesque dui nisl nec arcu. Nunc nec turpis in tellus placerat commodo. Suspendisse cursus nunc neque, at pharetra metus maximus accumsan. Aenean porttitor sagittis turpis sed volutpat. Morbi quis placerat metus, maximus gravida ante. Integer accumsan nulla orci, non porta libero pellentesque quis. Viv amus vitae iaculis dui. Donec aliquam nibh vitae lectus rutrum luctus in eget nisi. Vivamus imperdiet orci tortor, nec ornare purus molestie ac. Fusce ultrices fringilla nibh ut blandit. Sed mauris lorem, eleifend in justo sed, consequat convallis metus. Nam in massa in arcu porta aliquam. Aliquam rhoncus elit sed magna egestas, ut semper purus eleifend. Quisque tempor nisi non massa mattis, ac lacinia velit tempor. Pellentesque non est non ante varius interdum eget sed nulla. Praesent tristique dictum ultricies.</p>
        <h4>Aliquam bibendum sagittis placerat. Suspendisse potenti. Quisque pulvinar erat duivel mollisget</h4>
        <p>Morbi quis placerat metus, maximus gravida ante. Integer accumsan nulla orci, non porta libero pellentesque quis. Vivamus vitae iaculis dui. Donec aliquam nibh vitae lectus rutrum luctus in eget nisi. Vivamus imperdiet orci tortor, nec ornare purus molestie ac. Fusce ultrices fringilla nibh ut blandit. Sed mauris lorem, eleifend in justo sed, consequat convallis metus. Nam in massa in arcu porta aliquam. Aliquam rhoncus elit sed magna egestas, ut semper purus eleifend. Quisque tempor nisi non massa mattis, ac lacinia velit tempor. Pellentesque non est non ante varius interdum eget sed nulla. Praesent tristique dictum ultricies. Morbi eget mi elit. Integer condimentum a ligula id condimentum. Mauris quis quam pulvinar, sagittis tellus at, vestibulum velit. Morbi quis rutrum ex, sit amet dapibus nunc. Sed eget sollicitudin erat, ac ullamcorper urna. In bibendum elit velit, eget sodales tortor pretium</p>
        <h4>Suspendisse potenti. Quisque pulvinar erat dui, vel mollis urna tincidunt utdolor sem </h4>
        <p>Phasellus metus elit, venenatis non orci sit amet, sollicitudin efficitur lectus. Quisque finibus urna in venenatis semper. Do nec vitae mauris eget nibh efficitur porttitor. Praesent urna ipsum, tinci dunt et lacus lacinia, venenatis ullamcorper purus. Mauris vel lobortis leo, sed ullamcorper neque. Integer dapibus iaculis nuncorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan, est quis facilisis suscipit, nisi arcu efficitur urna, eu pellentesque dui nisl nec arcu. Nunc nec turpis in tellus placerat commodo. Suspendisse cursus nunc neque, at pharetra metus maximus accumsan. Aenean porttitor sagittis turpis sed volutpat. Morbi quis placerat metus, maximus gravida ante. Integer accumsan nulla orci, non porta libero pellentesque quis. Vivamus vitae iaculis dui. Donec aliquam nibh vitae lectus rutrum luctus in eget nisi. Vivamus imperdiet orci tortor, nec ornare purus molestie </p>
        <p class="policy-link"><a class="link" href="mailto:#">privacy@demolink.org</a>
      </div>
    </section>
  </main>
{% endblock content %}
